
<link
  href="https://fonts.googleapis.com/css?family=Josefin+Sans"
  rel="stylesheet"
/>

<div class="container-fluid">
  <div class="background">
<!--
    <div class="fullscreen">
      <mat-icon (click)="openFullscreen()" class="full">fullscreen</mat-icon>
      <mat-icon (click)="closeFullscreen()" class="exit"
        >fullscreen_exit</mat-icon
      >
    </div>
-->
    <div class="cube">
      <img
        id="profile-img"
        src="./assets/pic/png.PNG"
        class="profile-img-card"
        width="15"
        height="12,825"
      />
    </div>
    <div class="cube">
      <img
        id="profile-img"
        src="./assets/pic/png.PNG"
        class="profile-img-card"
        width="15"
        height="12,825"
      />
    </div>
    <div class="cube">
      <img
        id="profile-img"
        src="./assets/pic/png.PNG"
        class="profile-img-card"
        width="15"
        height="12,825"
      />
    </div>
    <div class="cube">
      <img
        id="profile-img"
        src="./assets/pic/png.PNG"
        class="profile-img-card"
        width="15"
        height="12,825"
      />
    </div>
    <div class="cube">
      <img
        id="profile-img"
        src="./assets/pic/png.PNG"
        class="profile-img-card"
        width="15"
        height="12,825"
      />

    </div>


<!-- title & content -->

    <section class="header-content">
      <h1>Willkommen</h1>
      <p>Auf der Fusion Website!<br /></p>
    </section>
  </div>
</div>

<!--<div class="Wallpaper">
      <img src="./assets/pic/jpg.jpg" width="960px" height="540px">
    -->
<!--

-->
