<div class="con">
  <mat-tab-group mat-align-tabs="center" class="group">
    <!--<mat-tab label="Einteilung" class="upload"><app-position></app-position></mat-tab>-->
    <mat-tab label="Frühschicht"><app-position-anal></app-position-anal><app-admin-f-anal></app-admin-f-anal></mat-tab>
    <mat-tab label="Spätschicht"><app-admin-s-anal></app-admin-s-anal></mat-tab>
    <mat-tab label="Nachtschicht"><app-admin-n-anal></app-admin-n-anal></mat-tab>
    <mat-tab label="Einstellungen"><app-settings-anal></app-settings-anal></mat-tab>
  </mat-tab-group>
</div>


