<div class="con">
  <mat-tab-group mat-align-tabs="center" class="group">
    <!--<mat-tab label="Einteilung" class="upload"><app-position></app-position></mat-tab>
    <mat-tab label="Frühschicht"><app-admin-f></app-admin-f></mat-tab>-->
    <mat-tab label="Frühschicht + Spätschicht"><app-position></app-position><app-admin-s></app-admin-s></mat-tab>
    <mat-tab label="Nachtschicht"><app-admin-n></app-admin-n></mat-tab>
    <mat-tab label="Einstellungen"><app-settings></app-settings></mat-tab>
  </mat-tab-group>
</div>


