.add {
  width: 60vw;
  display: inline-table;
  padding: 0 5vw 0 5vw;
}

.rem {
  width: 60vw;
  display: inline-table;
  padding: 0 5vw 0 5vw;
}

.zuteilen {
  padding: 0 2vh 0 2vh;
  width: max-content;
  margin: auto;
  display: inline-table;
}

.entfernen {
  padding: 0 2vh 0 2vh;
  margin: auto;
  display: inline-table;
}

.con{
  text-align:center
}

.table {
  margin: auto;
  background-color: black;
}

table {
  width: 100%;
}

.file-input {
  display: none;
}


.upload {
  position: inline-table;
}

.container {
  overflow-x: auto;
  width: 100%;
  background-color: cornflowerblue;
}

::ng-deep
  .mat-slide-toggle.mat-checked:not(.mat-disabled)
  .mat-slide-toggle-bar {
  background-color: #006dfc;
}

::ng-deep
  .mat-slide-toggle.mat-checked:not(.mat-disabled)
  .mat-slide-toggle-thumb {
  background-color: #0044ff;
}

mat-paginator {
  background-color: rgba(100, 148, 237, 0);
}

.add {
  margin-left: 2%;
}

.remove {
  margin-left: 2%;
}

.Ein {
  margin-top: 1.5%;
  margin-left: 2%;
}

.An {
  margin-left: 2%;
}

mat-form-field {
  margin-left: 1%;
  text-align: left;
  color: white;
  font-size: 20px;
}

mat-label {
  color: white;
}

.mat-column-Vorname {
  text-align: center;
  width: 150px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  border-color: black;
  border-top: 1px solid currentColor;
  border-left: 1px solid currentColor;
  border-right: 1px solid currentColor;
}
.mat-column-dragNdrop,
.mat-column-Raum23 {
  text-align: center;
  font-size: 20px;
  width: 150px;
  border-right: 1px solid currentColor;
  color: rgb(0, 0, 0);
  border-color: black;
  border-top: 1px solid currentColor;
}

.container-fluid {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #fff;
}
/* ============= Animation background ========= */
.background {
  background: linear-gradient(132deg, #14074e, #70b6d6, #025892);
  background-size: 400% 400%;
  position: relative;
  animation: Gradient 15s ease infinite;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding: 0;
}
.cube {
  position: relative;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #d7d4e4;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border-color: #fff;
}
.cube:nth-child(2) {
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(3) {
  animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}
.cube:nth-child(4) {
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}
.cube:nth-child(5) {
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}
.cube:nth-child(6) {
  animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}
/* ================= Header ============ */
header {
  position: static;
  top: 0%;
  left: 0%;
  width: 100%;
  margin: 0;
  padding: 0;
}
/* navbar */
nav {
  color: #fff;
  float: right;
  margin: 30px 90px;
}
.r {
  background-color: rgba(255, 255, 255, 0);
  margin-top: -50%;
  padding: 0;
  max-height: 10px;
  position: relative;
  top: -50px;
  width: 100%;
  margin-left: auto;
}

.Ein {
  border-radius: 8%;
  font-size: 22px;
  color: rgb(73, 124, 206);
  background-color: #fff;
  transition: ease-in 0.3s;
}

.Ein:hover {
  color: #000000;
  background-color: rgb(214, 208, 208);
  transition: ease-in 0.3s;
}

::ng-deep .r .mat-select-value {
  color: rgba(255, 255, 255, 0) !important;
}

mat-option {
  color: rgb(0, 68, 255);
}

nav ul {
  list-style: none;
}
nav ul li {
  float: left;
  transition: 0.3s;
}
nav ul li a {
  text-decoration: none;
  color: #efeef5;
  transition: 0.5;
  font-size: 15px;
  margin-left: 16px;
}
nav ul li:hover a {
  text-decoration: none;
  color: #591bc5;
}
nav ul li:hover {
  height: 45px;
  padding-top: 30px;
  margin-top: -30px;
  background: #efeef5;
  text-decoration: none;
  transform: skew(15deg);
}

/* Header content & title & button*/
.header-content {
  margin-top: 10%;
  text-align: center;
  color: #efeef5;
}
.header-content h1 {
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 1px;
}
.header-content p {
  font-size: 20px;
  line-height: 1.5;
  margin: 20px auto;
}
.header-content button {
  width: 140px;
  margin: 20px 10px;
  color: #591bc5;
  font-size: 17px;
  border: 1px solid #efeef5;
  font-weight: 500;
  background: #efeef5;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.header-content button:hover {
  border-radius: 0;
}
/* Animate Background*/
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

p {
  text-align: center;
  padding-top: 10px;
  padding-bottom: auto;
  font-size: 60px;
  color: aliceblue;
}

.con {
  overflow: auto;
  width: 100%;
  background-color: cornflowerblue;
  text-align: center;
}

.dragNdrop {
  width: 250px;
  max-width: 100%;
  margin: 1% 1% 1% 1%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.dragNdrop {
  border: solid 3px rgb(33, 117, 195);
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: inline-block;
}

.example-box {
  padding: 5px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  cursor: move;
  background: rgba(89, 167, 241, 0.534);
  font-size: 15px;
  font-weight: 500;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.icon1 {
  align-self: right;
}

.con {
  overflow: auto;
  background-color: cornflowerblue;
  text-align: center;
}

.example-box {
  padding: 5px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  cursor: move;
  background: rgba(89, 167, 241, 0.534);
  font-size: 30px;
  font-size: 15px;
  font-weight: 500;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.con {
  overflow: auto;
  width: 100%;
  background-color: cornflowerblue;
  text-align: center;
}

.example-box {
  padding: 5px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  cursor: move;
  background: rgba(89, 167, 241, 0.534);
  font-size: 15px;
  font-weight: 500;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}


.NE {
  position: absolute;
  overflow: auto;
  top: 20vh;
  right: 4.5vw;
  transition: ease-in-out 1.5s;
}

@media (max-width:1700px) {
  .NE {
    transition: ease-in-out 1.5s;
    top: 21vh;
  }
}

@media (max-width:900px) {
  .NE {
    transition: ease-in 1.5s;
    opacity: 0%;
  }
}

.icon2 {
  margin-left: 2%;
}
.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.section-heading {
  padding: 5px 10px;
  font-size: 15px;
  font-weight: bold;
}

.drag-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
  background-color: #E9ECEF;
  padding: 15px;
  border-radius: 5px;
}

.item-list {
  min-height: 60px;
  border-radius: 4px;
  display: block;
}

.item-box {
  padding: 8px 10px;
  border: solid 1px #ccc;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  border-radius: 20px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.item-list.cdk-drop-list-dragging .item-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.save {
  padding-top: 1vh;
}

.j {
  position: relative;
  top: 1.5vh;
  padding-right: 2vw;
  color: rgb(27, 192, 27);
  font-size: 50px;
}

.sbtn {
  font-size: larger;
  transition: ease-in 0.45s;
  border-width: 1px;
}


.Krank {
  padding: 5px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  cursor: move;
  background: rgba(255, 0, 0, 0.534);
  font-size: 15px;
  font-weight: 500;
}

.add{
  width: 15vw;
  position: relative;
  right: 2vw;
  text-align: center;
}

.Urlaub {
  padding: 5px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  cursor: move;
  background: rgba(200, 89, 241, 0.534);
  font-size: 15px;
  font-weight: 500;
}

.sbtn:hover {
  transition: ease-in 0.45s;
  background-color: rgb(138, 176, 247);
  color: #fff;
}


.green{
  background-color: rgb(106, 255, 114);
  width: 1.5vw;
  height: 3vh;
}

.turkey{
  background-color: rgb(105, 254, 239);
  width: 1.5vw;
  height: 3vh;
}

.purple{
  background-color: #9c8ffd;
  width: 1.5vw;
  height: 3vh;
}

.orange{
  background-color: rgb(255, 210, 128);
  width: 1.5vw;
  height: 3vh;
}

.yellow{
  background-color: rgb(255, 255, 132);
  width: 1.5vw;
  height: 3vh;
}

.grey{
  background-color: rgb(143, 143, 143);
  width: 1.5vw;
  height: 3vh;
}

.white{
  background-color: white;
  width: 1.5vw;
  height: 3vh;
}

.reset{
  background-color: rgba(89, 167, 241, 0.534);
  width: 1.5vw;
  height: 3vh;
}

.Grün {
  padding: 5px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  cursor: move;
  background: rgb(106, 255, 114);
  font-size: 15px;
  font-weight: 500;
}
.Grau {
  padding: 5px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  cursor: move;
  background: rgb(143, 143, 143);
  font-size: 15px;
  font-weight: 500;
}
.Türkis {
  padding: 5px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  cursor: move;
  background: rgb(105, 254, 239);
  font-size: 15px;
  font-weight: 500;
}
.Orange {
  padding: 5px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  cursor: move;
  background: rgb(255, 210, 128);
  font-size: 15px;
  font-weight: 500;
}
.Gelb {
  padding: 5px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  cursor: move;
  background: rgb(255, 255, 132);
  font-size: 15px;
  font-weight: 500;
}
.Weiß {
  padding: 5px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 15px;
  font-weight: 500;
}
.Lila {
  padding: 5px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  cursor: move;
  background: #9c8ffd;
  font-size: 15px;
  font-weight: 500;
}

.loadingCon{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000065;
}

.loading {
padding-top: 40vh;
  width: max-content;
  margin: auto;
}

.loa {
  font-size: 10vh;
  font-weight: bold;
  color: #ffffff;
}

.spin{
  padding-top: 2vh;
  width: max-content;
  margin: auto;
}

.delCon{
  padding-top: 4vh;
  padding-bottom: 4vh;
  width: max-content;
  margin: auto;
  text-align: center;
  width: 40vw;
  height: 10vh;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
}

.dCon{
  padding-top: 40vh;
}

.delBtn {
  display: inline-flex;
  width: max-content;
  margin: auto;
}

.dbtn10{
padding-right: 2vw;
}

.dbtn20{
  padding-left: 2vw;
}


.break{
  padding: 5px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  cursor: move;
  background: #c2ff52;
  font-size: 15px;
  font-weight: 500;
}

.Grü {
  border: solid 2px rgb(0, 0, 0);
  color: rgba(0, 255, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  cursor: move;
  background: rgb(0, 255, 0);
  font-size: 12px;
  font-weight: 200;
}
.Gra {
  border: solid 2px rgb(0, 0, 0);
  color: rgb(255, 0, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  cursor: move;
  background: rgb(255, 0, 0);
  font-size: 12px;
  font-weight: 200;
}

.Gel {
  border: solid 2px rgb(0, 0, 0);
  color: rgba(255, 255, 0);
  display: table;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  cursor: move;
  background: rgb(255, 255, 0);
  font-size: 12px;
  font-weight: 200;
}


.fields1 {
  position: absolute;
  top: 5vh;
  right:9vw;
  padding-right: 0.5vw;
}

.fields2 {
  position: absolute;
  top: 5vh;
  right:8vw;
  padding-right: 0.5vw;
}
.fields3 {
  position: absolute;
  top: 5vh;
  right:7vw;
  padding-right: 0.5vw;
}
.fields4 {
  position: absolute;
  top: 5vh;
  right:6vw;
  padding-right: 0.5vw;
}
.fields5 {
  position: absolute;
  top: 5vh;
  right:5vw;
  padding-right: 0.5vw;
}
.fields6 {
  position: absolute;
  top: 5vh;
  right:4vw;
  padding-right: 0.5vw;
}
.fields7 {
  position: absolute;
  top: 5vh;
  right:3vw;
  padding-right: 0.5vw;
}
.fields8 {
  position: absolute;
  top: 5vh;
  right:2vw;
  padding-right: 0.5vw;
}
.fields9 {
  position: absolute;
  top: 5vh;
  right:1vw;
  padding-right: 0.5vw;
}
