<div class="con">
  <mat-tab-group mat-align-tabs="center" class="group">
    <!--<mat-tab label="Einteilung" class="upload"><app-position></app-position></mat-tab>-->
    <mat-tab label="Frühschicht"><app-position-analytik></app-position-analytik><app-admin-f-analytik></app-admin-f-analytik></mat-tab>
    <mat-tab label="Spätschicht"><app-admin-s-analytik></app-admin-s-analytik></mat-tab>
    <mat-tab label="Nachtschicht"><app-admin-n-analytik></app-admin-n-analytik></mat-tab>
    <mat-tab label="Einstellungen"><app-settings-analytik></app-settings-analytik></mat-tab>
  </mat-tab-group>
</div>


