<div class="con">
  <mat-tab-group mat-align-tabs="center" class="group">
    <!--<mat-tab label="Einteilung" class="upload"><app-position></app-position></mat-tab>
    <mat-tab label="Frühschicht"><app-admin-f></app-admin-f></mat-tab>-->
    <mat-tab label="Dienste"><app-position-prae></app-position-prae><app-admin-s-prae></app-admin-s-prae></mat-tab>
    <!--<mat-tab label="Dienstbeginn nach 12"><app-admin-n-prae></app-admin-n-prae></mat-tab>-->
    <mat-tab label="Einstellungen"><app-settings-prae></app-settings-prae></mat-tab>
  </mat-tab-group>
</div>


