

* {
  margin: 0;
  padding: 0;
}

nav {
  background: #44b1ff;
  height: 5vh;
  .menuItems {
    list-style: none;
    display: flex;

    li {
      margin: auto;

      a {
        text-decoration: none;
        color: #373737;
        font-size: 24px;
        font-weight: 400;
        transition: all 0.5s ease-in-out;
        position: relative;
        top: 1.5vh;
        text-transform: uppercase;

        &::before {
          content: attr(data-item);
          transition: 0.5s;
          color: rgb(0, 136, 255);
          position: absolute;
          bottom: 0.3vh;
          left: 0;
          right: 0;
          width: 0;
          overflow: hidden;
        }

        &:hover {
          &::before {
            width: 100%;
            transition: all 0.5s ease-in-out;
          }
        }
      }
    }
  }
}
